{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <h1>Produits</h1>
    <div>
        {% for product in products %}
            {{ dump(product) }}
        {% endfor %}
    </div>

{% endblock %}
